{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
    {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
    {%- assign locale_selector = true -%}
{%- endif -%}

{%- if section.settings.show_payment_icons -%}
    {%- unless shop.enabled_payment_types == empty -%}
        {%- assign show_payment_icons = true -%}
    {%- endunless -%}
{%- endif -%}

{%- if currency_selector or locale_selector -%}
    {%- assign show_selectors = true -%}
{%- endif -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
    {%- assign social_icons = true -%}
{%- endif -%}

{%- assign payment_width_class = "one-half" -%}
{%- if show_selectors -%}
    {%- unless social_icons -%}
        {%- assign payment_width_class = "" -%}
    {%- endunless -%}
{%- endif -%}

{%- assign copyright_show_class = "medium-up--hide" -%}
{%- if social_icons -%}
    {%- unless show_selectors -%}
        {%- assign copyright_show_class = "" -%}
    {%- endunless -%}
{%- endif -%}

{%- case section.blocks.size -%}
    {%- when 1 -%}
        {%- assign footer_item = 'site-footer__item--full-width' -%}
        {%- assign inline_list = true -%}
    {%- when 2 -%}
        {%- assign footer_item = 'site-footer__item--one-half' -%}
        {%- assign inline_list = true -%}
    {%- when 3 -%}
        {%- assign footer_item = 'site-footer__item--one-third' -%}
        {%- for block in section.blocks -%}
            {%- if block.type == 'newsletter' -%}
                {%- assign footer_item = 'site-footer__item--one-quarter' -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- when 4 -%}
        {%- assign footer_item = 'site-footer__item--one-quarter' -%}
    {%- when 5 -%}
        {%- assign footer_item = 'site-footer__item--one-fifth' -%}
{%- endcase -%}

{% comment %} Create an appropriate hover color based on text color and brightness {% endcomment %}
{%- assign footer_text_color = section.settings.color_footer_text -%}
{%- assign footer_text_color_brightness = section.settings.color_footer_text | color_brightness -%}
{%- if footer_text_color_brightness <= 26 -%}
    {%- assign footer_text_color_hover = footer_text_color | color_lighten: 25 -%}
{%- elsif footer_text_color_brightness <= 65 -%}
    {%- assign footer_text_color_hover = footer_text_color | color_lighten: 15 -%}
{%- else -%}
    {%- assign footer_text_color_hover = footer_text_color | color_darken: 10 -%}
{%- endif -%}

{%- capture payment_icon_markup -%}
    {%- if show_payment_icons -%}
        <div class="grid__item site-footer__payment-icons">
            <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
            <ul class="payment-icons list--inline site-footer__icon-list">
                {%- for type in shop.enabled_payment_types -%}
                    <li class="payment-icon">
                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endcapture -%}

<footer class="o-footer" role="contentinfo">
    <div class="o-footer__inner">
        <div class="grid">
            <div class="col-sm-12">
                <div class="o-footer__row  o-footer__top">
                    <div class="o-footer__col  o-footer__col__stretch">
                        <div class="o-footer__top__row  o-footer__col__icons">
                            <div class="o-footer__col">
                                <h4 class="o-footer__col__heading">Stream</h4>

                                <div class="m-block m-block--block-content m-block--block-content82437759-d140-4e96-bb9d-4f81bdfb0968 m-block__stream m-stream">


                                    <div class="m-social-links">
                                        <div class="a-btn--btn-icon  a-btn--icon-blue">
                                            <a class="" href="https://open.spotify.com/user/nmcrecordings" rel="nofollow noopener" title="Spotify">
                                                <svg height="26" viewbox="0 0 25 26" width="25" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.782 18.315c0-.361-.158-.649-.473-.863-2.03-1.298-4.381-1.947-7.053-1.947-1.4 0-2.909.192-4.529.576-.441.101-.662.395-.662.88 0 .226.07.42.213.584a.706.706 0 00.56.245c.053 0 .247-.045.584-.135 1.388-.305 2.666-.457 3.834-.457 2.377 0 4.465.581 6.264 1.743.2.125.373.187.52.187a.7.7 0 00.521-.229.806.806 0 00.221-.584zm1.515-3.64c0-.45-.184-.795-.553-1.032-2.492-1.59-5.375-2.386-8.646-2.386-1.61 0-3.203.236-4.78.71-.506.147-.758.508-.758 1.084 0 .282.092.522.276.72a.883.883 0 00.67.295c.074 0 .269-.045.584-.135a14.139 14.139 0 013.96-.559c2.935 0 5.502.7 7.7 2.1.253.146.453.22.6.22a.883.883 0 00.67-.297c.185-.197.277-.437.277-.72zM21 10.479c0-.53-.21-.925-.631-1.185-1.326-.824-2.867-1.447-4.623-1.87a23.026 23.026 0 00-5.412-.635c-2.146 0-4.06.265-5.744.795a1.25 1.25 0 00-.607.432c-.163.209-.245.482-.245.82 0 .35.108.644.324.881.216.237.486.356.812.356.116 0 .327-.046.632-.136 1.4-.417 3.014-.627 4.844-.627 1.673 0 3.3.192 4.884.575 1.583.384 2.916.92 4 1.608.22.136.43.204.63.204.306 0 .571-.116.798-.347.226-.232.339-.522.339-.872zM24.235 13c0 2.359-.541 4.534-1.625 6.525-1.083 1.992-2.553 3.57-4.41 4.732A11.243 11.243 0 0112.118 26c-2.199 0-4.226-.581-6.083-1.743-1.856-1.163-3.326-2.74-4.41-4.732C.542 17.534 0 15.36 0 13s.542-4.534 1.625-6.525c1.084-1.992 2.554-3.57 4.41-4.732A11.243 11.243 0 0112.118 0c2.198 0 4.226.581 6.082 1.743 1.857 1.163 3.327 2.74 4.41 4.732 1.084 1.991 1.625 4.166 1.625 6.525z"></path>
                                                </svg>
                                            </a>
                                        </div>


                                        <div class="a-btn--btn-icon  a-btn--icon-blue">
                                            <a class="" href="https://music.apple.com/gb/playlist/nmc-curates-new-contemporary-classical-releases/pl.u-oZyl3WRFR6kgYPe" rel="nofollow noopener" title="Itunes">
                                                <svg height="26" viewbox="0 0 26 26" width="26" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M25.271 6.45a9.69 9.69 0 00-.253-2.307C24.685 2.766 23.9 1.711 22.722.94a5.262 5.262 0 00-1.976-.767 11.158 11.158 0 00-1.648-.159c-.043-.001-.088-.008-.13-.012H6.304l-.48.027c-.786.045-1.568.13-2.308.423-1.41.558-2.424 1.53-3.02 2.926-.201.474-.307.976-.381 1.484-.06.412-.094.827-.106 1.244-.001.032-.008.064-.01.096v12.874c.008.149.016.298.026.446.053.858.162 1.711.524 2.5.685 1.495 1.83 2.477 3.406 2.95.443.133.9.197 1.361.24.584.056 1.17.064 1.755.064l11.617-.001c.553 0 1.103-.035 1.653-.104.867-.111 1.682-.37 2.418-.854a5.307 5.307 0 001.98-2.325c.196-.444.308-.916.389-1.395.12-.71.146-1.43.145-2.149-.002-4 0-7.998-.003-11.997m-6.764 4.202l-.001 6.016c0 .439-.06.87-.256 1.27-.304.622-.801 1.013-1.461 1.2a4.88 4.88 0 01-1.126.183 1.966 1.966 0 01-2.048-1.618 1.98 1.98 0 011.095-2.128c.34-.169.704-.263 1.072-.342.398-.086.798-.161 1.194-.253.289-.066.482-.243.538-.543a1.03 1.03 0 00.019-.203V8.502a.79.79 0 00-.028-.195c-.041-.158-.157-.255-.32-.246a3.63 3.63 0 00-.5.07c-.8.158-1.6.32-2.4.481l-2.451.495-1.447.292-.05.014c-.292.08-.398.214-.411.515-.002.046-.001.092-.001.138-.001 2.74 0 5.481-.002 8.22 0 .443-.05.88-.227 1.292-.293.676-.811 1.096-1.51 1.3-.37.107-.75.168-1.133.181-1.01.038-1.848-.633-2.02-1.626-.15-.856.241-1.775 1.213-2.187.376-.158.77-.245 1.167-.327.302-.064.605-.121.906-.186.403-.088.613-.34.63-.752.002-.054.001-.105.001-.159 0-3.117 0-6.235.002-9.352 0-.13.014-.264.044-.39.074-.3.288-.472.575-.546.269-.07.542-.119.815-.174l2.315-.467 2.393-.483c.705-.142 1.41-.287 2.116-.426.232-.045.466-.092.7-.11.326-.027.55.178.583.507.008.078.013.156.013.235.002 2.013.002 4.025 0 6.037z"></path>
                                                </svg>
                                            </a>
                                        </div>


                                    </div>

                                </div>

                            </div>
                            <div class="o-footer__col">
                                <h4 class="o-footer__col__heading">Follow</h4>

                                <div class="m-block m-block--block-content m-block--block-content38699dca-2b67-4968-b439-32f1e37ddb74 m-block__follow m-follow">


                                    <div class="m-social-links">


                                        <div class="a-btn--btn-icon  a-btn--icon-blue">
                                            <a class="" href="{{ settings.social_twitter_link }}" rel="nofollow noopener" title="Twitter">
                                                <svg height="26" viewbox="0 0 29 26" width="29" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M27.67 4.346c-.952.449-1.977.751-3.053.887a5.597 5.597 0 002.338-3.117 10.285 10.285 0 01-3.376 1.368c-.969-1.095-2.35-1.779-3.88-1.779-2.934 0-5.314 2.522-5.314 5.633 0 .44.047.87.138 1.283-4.418-.235-8.335-2.477-10.956-5.885a5.862 5.862 0 00-.72 2.832c0 1.954.938 3.679 2.365 4.689a5.075 5.075 0 01-2.408-.705v.07c0 2.73 1.832 5.006 4.264 5.524a5.062 5.062 0 01-2.401.096c.677 2.237 2.64 3.866 4.965 3.912-1.82 1.51-4.11 2.411-6.601 2.411-.429 0-.852-.027-1.268-.079 2.353 1.599 5.146 2.53 8.148 2.53 9.777 0 15.122-8.582 15.122-16.026 0-.244-.004-.487-.014-.729a11.144 11.144 0 002.651-2.915z"></path>
                                                </svg>
                                            </a>
                                        </div>


                                        <div class="a-btn--btn-icon  a-btn--icon-blue">
                                            <a class="" href="{{ settings.social_youtube_link }}" rel="nofollow noopener" title="Youtube">
                                                <svg height="24" viewbox="0 0 32 24" width="32" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M26.153.245c-4.805-.328-15.508-.326-20.306 0C.65.6.039 3.74 0 12c.039 8.247.645 11.399 5.847 11.755 4.8.326 15.501.328 20.306 0C31.35 23.4 31.961 20.26 32 12 31.961 3.753 31.355.601 26.153.245zM12 17.333V6.667l10.667 5.324L12 17.333z"></path>
                                                </svg>
                                            </a>
                                        </div>


                                        <div class="a-btn--btn-icon  a-btn--icon-blue">
                                            <a class="" href="{{ settings.social_instagram_link }}" rel="nofollow noopener" title="Instagram">
                                                <svg height="28" viewbox="0 0 28 28" width="28" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13.709 6.973C9.9 6.973 6.746 10.102 6.746 14s3.1 7.027 6.963 7.027c3.862 0 6.963-3.184 6.963-7.027s-3.155-7.027-6.963-7.027zm0 11.529c-2.448 0-4.461-2.031-4.461-4.502 0-2.47 2.013-4.502 4.46-4.502 2.449 0 4.462 2.031 4.462 4.502 0 2.47-2.013 4.502-4.461 4.502z"></path>
                                                    <ellipse cx="20.944" cy="6.808" rx="1.578" ry="1.592"></ellipse>
                                                    <path d="M25.024 2.69C23.61 1.208 21.597.44 19.312.44H8.106C3.373.44.218 3.623.218 8.4v11.255c0 2.36.761 4.392 2.284 5.874 1.47 1.428 3.428 2.142 5.658 2.142h11.098c2.339 0 4.297-.769 5.712-2.142 1.468-1.427 2.23-3.458 2.23-5.82V8.4c0-2.306-.762-4.282-2.176-5.71zm-.218 17.02c0 1.702-.598 3.074-1.577 4.008-.98.933-2.34 1.427-3.971 1.427H8.16c-1.632 0-2.992-.494-3.971-1.427-.98-.989-1.469-2.361-1.469-4.063V8.4c0-1.647.49-3.02 1.469-4.008.925-.933 2.339-1.427 3.971-1.427h11.206c1.632 0 2.992.494 3.972 1.482.924.988 1.468 2.36 1.468 3.953v11.31z"></path>
                                                </svg>
                                            </a>
                                        </div>


                                        <div class="a-btn--btn-icon  a-btn--icon-blue">
                                            <a class="" href="{{ settings.social_facebook_link }}" rel="nofollow noopener" title="Facebook">
                                                <svg height="36" viewbox="0 0 19 36" width="19" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.905 12.133h-4.227v-2.91c0-1.094.69-1.35 1.176-1.35h2.983V3.068l-4.108-.016c-4.561 0-5.6 3.584-5.6 5.878v3.204H3.493v4.953H6.13v14.015h5.548V17.086h3.743l.484-4.953z"></path>
                                                </svg>
                                            </a>
                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="o-footer__top__row">

                            <div class="m-block m-block--block-content m-block--block-content7ad2a1be-7377-4f30-9c9b-790e28680853 m-block__join-the-mailing-list m-join-the-mailing-list">
                                <p>Join the Mailing List
                                    <a href="https://nmcrec.co.uk/sign-up" title="sign up">
                                        <span>sign up</span>
                                    </a>
                                </p>

                            </div>

                        </div>
                        <hr class="o-footer__hr">
                    </div>
                    <div class="o-footer__col">
                        <div class="o-footer__top__row">

                            <div class="m-block m-block--block-content m-block--block-content55fbe8e5-a06d-4c79-b670-5e83e20ca725 m-block__support-us m-support-us">
                                <h4>Support Us</h4>
                                <p>Our mission is to promote new music from Britain and Ireland. With your help we:</p>
                                <p>
                                    <strong>CHAMPION</strong>&nbsp;&nbsp; Composers &amp; Artists<br>
                                    <strong>EDUCATE</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Future generations<br>
                                    <strong>INSPIRE</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Audiences worldwide</p>

                            </div>

                        </div>
                    </div>
                    <div class="o-footer__col">
                        <div class="o-footer__top__row  o-footer__friends-get-more">

                            <div class="m-block m-block--block-content m-block--block-content1ac641fa-0f36-4c40-8ab6-e8abd4b134f6 m-block__friends-get-more m-friends-get-more">
                                <h4>Benefactors Get More</h4>

                                <ul>
                                    <li>Regular behind-the-scenes newsletters</li>
                                    <li>Invitations to events &amp; recording sessions</li>
                                    <li>25% discount on NMC online store orders</li>
                                </ul>

                                <p>
                                    <a href="https://nmcrec.co.uk/support-us/become-individual-supporter" rel="nofollow noopener" title="Join now">
                                        <span>Join Now</span>
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-footer__middle">
            <div class="grid">
                <div class="col-sm-12">
                    <div class="o-footer__middle__row  m-footer-nav">
                        <nav class="m-footer-nav">

                            {%- for block in section.blocks -%}
                                {%- case block.type -%}
                                    {%- when 'link_list' -%}
                                        {%- assign footer_linklist = block.settings.menu -%}
                                        <ul class="menu">
                                            {%- for link in linklists[footer_linklist].links -%}
                                                <li class="menu-item">
                                                    <a href="{{ link.url }}" class="menu-item menu-item__link" {% if link.current %} aria-current="page" {% endif %}>
                                                        {{ link.title | escape }}
                                                    </a>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                {%- endcase -%}
                            {%- endfor -%}
                        </nav>
                        <div class="o-footer__partners">

                            <div class="m-block m-block--block-content m-block--block-content784236b9-da6f-4d48-b802-bcfed798e3f1 m-block__partners m-partners">

                                <span aria-label="Open ACE Arts Council England's website" class="m-logos__logo" href="http://example.com" rel="nofollow noopener" title=" ACE Arts Council England">
                                    <img alt="ACE Arts Council England" class="lazy loaded" src="{{ 'delius-trust.png' | asset_img_url: '300x' }}">
                                </span>

                                <span aria-label="Open Delius Trust's website" class="m-logos__logo" href="http://example.com" rel="nofollow noopener" title=" Delius Trust">
                                    <img alt="Delius Trust" class="lazy loaded" src="{{ 'arts-council.png' | asset_img_url: '300x' }}">
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid o-footer__bottom">
        <div class="col-sm-12">
            <div class="o-footer__bottom__row">
                <p>NMC Recordings is a registered charity No.328052 © NMC Recordings. All rights reserved</p>
                <a href="https://un.titled.co.uk" rel="nofollow noopener" title="An Un.titled Site">An Un.titled Site</a>
            </div>
        </div>
    </div>
</footer>

{% schema %}

{
    "name": {
        "da": "Sidefod",
        "de": "Fußzeile",
        "en": "Footer",
        "es": "Pie de página",
        "fi": "Alatunniste",
        "fr": "Pied de page",
        "hi": "फुटर",
        "it": "Footer",
        "ja": "フッター",
        "ko": "바닥글",
        "nb": "Footer",
        "nl": "Voettekst",
        "pt-BR": "Rodapé",
        "pt-PT": "Rodapé",
        "sv": "Sidfot",
        "th": "ส่วนท้าย",
        "zh-CN": "页脚",
        "zh-TW": "頁尾"
    },
    "max_blocks": 4,
    "settings": [
        {
            "type": "header",
            "content": {
                "da": "Betalingsmetoder",
                "de": "Zahlungsmethoden",
                "en": "Payment methods",
                "es": "Métodos de pago",
                "fi": "Maksutavat",
                "fr": "Moyens de paiement",
                "hi": "भुगतान की विधियां",
                "it": "Metodi di pagamento",
                "ja": "決済方法",
                "ko": "결제 방법",
                "nb": "Betalingsmetoder",
                "nl": "Betaalmethoden",
                "pt-BR": "Formas de pagamento",
                "pt-PT": "Métodos de Pagamento",
                "sv": "Betalningsmetoder",
                "th": "วิธีการชำระเงิน",
                "zh-CN": "支付方式",
                "zh-TW": "付款方式"
            }
        }, {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": {
                "da": "Vis betalingsikoner",
                "de": "Zahlungs-Buttons anzeigen",
                "en": "Show payment icons",
                "es": "Mostrar iconos de pago",
                "fi": "Näytä maksukuvakkeet",
                "fr": "Afficher les icônes de paiement",
                "hi": "भुगतान आइकन दिखाएं",
                "it": "Mostra le icone di pagamento",
                "ja": "支払いアイコンを表示する",
                "ko": "결제 아이콘 표시",
                "nb": "Vis betalingsikoner",
                "nl": "Betalingspictogrammen weergeven",
                "pt-BR": "Exibir ícones de pagamento",
                "pt-PT": "Mostrar ícones de pagamento",
                "sv": "Visa betalningsikoner",
                "th": "แสดงไอคอนการชำระเงิน",
                "zh-CN": "显示付款图标",
                "zh-TW": "顯示付款圖示"
            },
            "default": false
        }, {
            "type": "header",
            "content": {
                "da": "Farve",
                "de": "Farbe",
                "en": "Color",
                "es": "Color",
                "fi": "Väri",
                "fr": "Couleur",
                "hi": "रंग",
                "it": "Colore",
                "ja": "色",
                "ko": "색상",
                "nb": "Farge",
                "nl": "Kleur",
                "pt-BR": "Cor",
                "pt-PT": "Cor",
                "sv": "Färg",
                "th": "สี",
                "zh-CN": "颜色",
                "zh-TW": "顏色"
            }
        }, {
            "type": "color",
            "id": "color_footer_bg",
            "label": {
                "da": "Baggrund",
                "de": "Hintergrund",
                "en": "Background",
                "es": "Fondo",
                "fi": "Tausta",
                "fr": "Couleur de fond",
                "hi": "पृष्ठभूमि",
                "it": "Sfondo",
                "ja": "背景",
                "ko": "배경",
                "nb": "Bakgrunn",
                "nl": "Achtergrond",
                "pt-BR": "Plano de fundo",
                "pt-PT": "Fundo",
                "sv": "Bakgrund",
                "th": "พื้นหลัง",
                "zh-CN": "背景",
                "zh-TW": "背景"
            },
            "default": "#f6f6f6"
        }, {
            "type": "color",
            "id": "color_footer_text",
            "label": {
                "da": "Tekst",
                "de": "Text",
                "en": "Text",
                "es": "Texto",
                "fi": "Teksti",
                "fr": "Texte",
                "hi": "टेक्स्ट",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": "#333232"
        }, {
            "type": "header",
            "content": {
                "da": "Sprogvælger",
                "de": "Sprachauswahl",
                "en": "Language Selector",
                "es": "Selector de idioma",
                "fi": "Kielenvalitsin",
                "fr": "Sélecteur de langue",
                "hi": "भाषा चयनकर्ता",
                "it": "Selettore lingua",
                "ja": "言語セレクター",
                "ko": "언어 선택기",
                "nb": "Språkvelger",
                "nl": "Taalkiezer",
                "pt-BR": "Seletor de idiomas",
                "pt-PT": "Seletor de Idioma",
                "sv": "Språkväljare",
                "th": "ตัวเลือกภาษา",
                "zh-CN": "语言选择器",
                "zh-TW": "語言選擇器"
            },
            "info": {
                "da": "Du kan tilføje et sprog ved at gå til dine [sprogindstillinger.](/admin/settings/languages)",
                "de": "Gehen Sie zu Ihren [Spracheinstellungen](/admin/settings/languages), um eine Sprache hinzuzufügen.",
                "en": "To add a language, go to your [language settings.](/admin/settings/languages)",
                "es": "Para agregar un idioma, ve a tu[configuración de idioma](/admin/settings/languages)",
                "fi": "Lisää kieli siirtymällä [kieliasetuksiin.](/admin/settings/languages)",
                "fr": "Pour ajouter une langue, allez dans vos [paramètres de langue.](/admin/settings/languages).",
                "hi": "भाषा जोड़ने के लिए, अपने [language settings.](/admin/settings/languages) पर जाएं",
                "it": "Per aggiungere una lingua, vai su [impostazioni della lingua.](/admin/settings/languages)",
                "ja": "言語を追加するには、[言語設定](/admin/settings/languages) に移動します。",
                "ko": "언어를 추가하려면 [언어 설정.](/admin/settings/languages)(으)로 이동하십시오.",
                "nb": "For å legge til et språk, går du til dine [språkinnstillinger.](/admin/settings/languages)",
                "nl": "Ga naar je [taalinstellingen.](/admin/settings/languages) om een taal toe te voegen.",
                "pt-BR": "Para adicionar um idioma, acesse suas [configurações de idioma. ](/admin/settings/languages)",
                "pt-PT": "Para adicionar um idioma, aceda a [definições de idioma.](/admin/settings/languages)",
                "sv": "För att lägga till ett språk, gå till dina [språkinställningar.](/admin/settings/languages)",
                "th": "หากต้องการเพิ่มภาษา ให้ไปที่ [การตั้งค่าภาษา ](/admin/settings/languages) ของคุณ",
                "zh-CN": "若要添加语言，请转到您的 [语言设置。](/admin/settings/languages)",
                "zh-TW": "若要新增語言，請前往 [語言設定。](/admin/settings/languages)"
            }
        }, {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": {
                "da": "Vis sprogvælger",
                "de": "Sprachauswahl anzeigen",
                "en": "Show language selector",
                "es": "Mostrar el selector de idioma",
                "fi": "Näytä kielenvalitsin",
                "fr": "Afficher le sélecteur de langue",
                "hi": "मात्रा चयनकर्ता दिखाएं",
                "it": "Mostra selettore lingua",
                "ja": "言語セレクターを表示する",
                "ko": "언어 선택기 표시",
                "nb": "Vis språkvelger",
                "nl": "Taalkiezer weergeven",
                "pt-BR": "Exibir seletor de idioma",
                "pt-PT": "Mostrar seletor de idioma",
                "sv": "Visa språkväljare",
                "th": "แสดงตัวเลือกภาษา",
                "zh-CN": "显示语言选择器",
                "zh-TW": "顯示語言選擇器"
            },
            "default": true
        }, {
            "type": "header",
            "content": {
                "da": "Valutavælger",
                "de": "Währungsauswahl",
                "en": "Currency Selector",
                "es": "Selector de moneda",
                "fi": "Valuutanvalitsin",
                "fr": "Sélecteur de devise",
                "hi": "मुद्रा चयनकर्ता",
                "it": "Selettore di valuta",
                "ja": "通貨セレクター",
                "ko": "통화 선택기",
                "nb": "Valutavelger",
                "nl": "Valutakiezer",
                "pt-BR": "Seletor de moeda",
                "pt-PT": "Seletor de Moeda",
                "sv": "Valutaväljare",
                "th": "เครื่องมือเลือกสกุลเงิน",
                "zh-CN": "货币选择器",
                "zh-TW": "幣別選擇器"
            },
            "info": {
                "da": "Du kan tilføje en valuta ved at gå til dine [betalingsindstillinger.](/admin/settings/payments)",
                "de": "Gehen Sie zu Ihren [Zahlungseinstellungen](/admin/settings/payments), um eine Währung hinzuzufügen.",
                "en": "To add a currency, go to your [payment settings.](/admin/settings/payments)",
                "es": "Para agregar una moneda, ve a tu [configuración de pago.](/admin/settings/payments)",
                "fi": "Lisää valuutta siirtymällä [maksuasetuksiisi.](/admin/settings/payments)",
                "fr": "Pour ajouter une devise, allez dans vos [paramètres de paiement.](/admin/settings/payments)",
                "hi": "कोई मुद्रा जोड़ने के लिए, अपनी [payment settings.](/admin/settings/payments) में जाएं",
                "it": "Per aggiungere una valuta, vai su [impostazioni pagamento.](/admin/settings/payments)",
                "ja": "通貨を追加するには、[決済設定](/admin/settings/payments) に移動します。",
                "ko": "통화를 추가하려면 [결제 설정](/admin/settings/payments)(으)로 이동하십시오.",
                "nb": "For å legge til en valuta, går du til [betalingsinnstillingene.](/admin/settings/payments)",
                "nl": "Ga naar je [betaalinstellingen.](/admin/settings/payments) om een valuta toe te voegen.",
                "pt-BR": "Para adicionar uma moeda, acesse as [configurações de pagamento.](/admin/settings/payments)",
                "pt-PT": "Para adicionar uma moeda, aceda às suas [definições de pagamento.](/admin/settings/payments)",
                "sv": "Gå till [payment settings ](/admin/settings/payments) för att lägga till en valuta.",
                "th": "หากต้องการเพิ่มสกุลเงิน ให้ไปที่ [การตั้งค่าการชำระเงิน ](/admin/settings/payments)",
                "zh-CN": "若要添加货币，请转到 [支付设置。](/admin/settings/payments)",
                "zh-TW": "若要新增幣別，請前往 [付款設定。](/admin/settings/payments)"
            }
        }, {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": {
                "da": "Vis valutavælger",
                "de": "Währungsauswahl anzeigen",
                "en": "Show currency selector",
                "es": "Mostrar el selector de moneda",
                "fi": "Näytä valuutanvalitsin",
                "fr": "Afficher le sélecteur de devise",
                "hi": "मुद्रा चयनकर्ता दिखाएं",
                "it": "Mostra selettore valuta",
                "ja": "通貨セレクターを表示する",
                "ko": "통화 선택기 표시",
                "nb": "Vis valutavelger",
                "nl": "Valutakiezer weergeven",
                "pt-BR": "Exibir seletor de moeda",
                "pt-PT": "Mostrar seletor de moeda",
                "sv": "Visa valutaväljare",
                "th": "แสดงเครื่องมือเลือกสกุลเงิน",
                "zh-CN": "货币选择器显示",
                "zh-TW": "顯示幣別選擇器"
            },
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "link_list",
            "name": {
                "da": "Menu",
                "de": "Menü",
                "en": "Menu",
                "es": "Menú",
                "fi": "Valikko",
                "fr": "Menu",
                "hi": "मेनू",
                "it": "Menu",
                "ja": "メニュー",
                "ko": "메뉴",
                "nb": "Meny",
                "nl": "Menu",
                "pt-BR": "Menu",
                "pt-PT": "Menu",
                "sv": "Meny",
                "th": "เมนู",
                "zh-CN": "菜单",
                "zh-TW": "選單"
            },
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": {
                        "da": "Overskrift",
                        "de": "Überschrift",
                        "en": "Heading",
                        "es": "Título",
                        "fi": "Otsake",
                        "fr": "Titre",
                        "hi": "शीर्षक",
                        "it": "Heading",
                        "ja": "見出し",
                        "ko": "제목",
                        "nb": "Overskrift",
                        "nl": "Kop",
                        "pt-BR": "Título",
                        "pt-PT": "Título",
                        "sv": "Rubrik",
                        "th": "ส่วนหัว",
                        "zh-CN": "标题",
                        "zh-TW": "標題"
                    },
                    "default": {
                        "da": "Hurtige links",
                        "de": "Quick-Links",
                        "en": "Quick links",
                        "es": "Enlaces rápidos",
                        "fi": "Pikalinkit",
                        "fr": "Liens rapides",
                        "hi": "त्वरित लिंक",
                        "it": "Link rapidi",
                        "ja": "クイックリンク",
                        "ko": "빠른 링크",
                        "nb": "Hurtigkoblinger",
                        "nl": "Snelle links",
                        "pt-BR": "Links rápidos",
                        "pt-PT": "Ligações rápidas",
                        "sv": "Snabblänkar",
                        "th": "ลิงก์ด่วน",
                        "zh-CN": "快速链接",
                        "zh-TW": "快速連結"
                    }
                }, {
                    "type": "link_list",
                    "id": "menu",
                    "label": {
                        "da": "Menu",
                        "de": "Menü",
                        "en": "Menu",
                        "es": "Menú",
                        "fi": "Valikko",
                        "fr": "Menu",
                        "hi": "मेनू",
                        "it": "Menu",
                        "ja": "メニュー",
                        "ko": "메뉴",
                        "nb": "Meny",
                        "nl": "Menu",
                        "pt-BR": "Menu",
                        "pt-PT": "Menu",
                        "sv": "Meny",
                        "th": "เมนู",
                        "zh-CN": "菜单",
                        "zh-TW": "選單"
                    },
                    "default": "footer"
                }
            ]
        }, {
            "type": "text",
            "name": {
                "da": "Tekst",
                "de": "Text",
                "en": "Text",
                "es": "Texto",
                "fi": "Teksti",
                "fr": "Texte",
                "hi": "टेक्स्ट",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": {
                        "da": "Overskrift",
                        "de": "Überschrift",
                        "en": "Heading",
                        "es": "Título",
                        "fi": "Otsake",
                        "fr": "Titre",
                        "hi": "शीर्षक",
                        "it": "Heading",
                        "ja": "見出し",
                        "ko": "제목",
                        "nb": "Overskrift",
                        "nl": "Kop",
                        "pt-BR": "Título",
                        "pt-PT": "Título",
                        "sv": "Rubrik",
                        "th": "ส่วนหัว",
                        "zh-CN": "标题",
                        "zh-TW": "標題"
                    },
                    "default": {
                        "da": "Fortæl om din virksomhed",
                        "de": "Reden Sie über Ihr Unternehmen",
                        "en": "Talk about your business",
                        "es": "Habla sobre tu negocio",
                        "fi": "Kerro yrityksestäsi",
                        "fr": "Parlez de votre entreprise",
                        "hi": "अपने व्यवसाय के बारे में बात करें",
                        "it": "Parla della tua attività commerciale",
                        "ja": "あなたのビジネスについて語る",
                        "ko": "비즈니스에 대한 이야기하기",
                        "nb": "Snakk om bedriften din",
                        "nl": "Vertel over je bedrijf",
                        "pt-BR": "Fale sobre o seu negócio",
                        "pt-PT": "Fale sobre o seu negócio",
                        "sv": "Prata om ditt företag",
                        "th": "พูดถึงธุรกิจของคุณ",
                        "zh-CN": "介绍您的业务",
                        "zh-TW": "描述您的商家"
                    }
                }, {
                    "type": "richtext",
                    "id": "text",
                    "label": {
                        "da": "Tekst",
                        "de": "Text",
                        "en": "Text",
                        "es": "Texto",
                        "fi": "Teksti",
                        "fr": "Texte",
                        "hi": "टेक्स्ट",
                        "it": "Testo",
                        "ja": "テキスト",
                        "ko": "텍스트",
                        "nb": "Tekst",
                        "nl": "Tekst",
                        "pt-BR": "Texto",
                        "pt-PT": "Texto",
                        "sv": "Text",
                        "th": "ข้อความ",
                        "zh-CN": "文本",
                        "zh-TW": "文字"
                    },
                    "default": {
                        "da": "<p>Del butiksoplysninger, reklamer eller brandindhold med dine kunder.</p>",
                        "de": "<p>Teilen Sie Ihre Shop-Details, Werbeaktionen oder Markeninhalte mit Ihren Kunden.</p>",
                        "en": "<p>Share store details, promotions, or brand content with your customers.</p>",
                        "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
                        "fi": "<p>Jaa myymälän tiedot, tarjoukset tai brändin sisältö asiakkaittesi kanssa.</p>",
                        "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients.</p>",
                        "hi": "<p>अपने ग्राहकों के साथ स्टोर विवरण, प्रचार या ब्रांड सामग्री साझा करें.</p>",
                        "it": "<p>Condividi dettagli del negozio, promozioni o contenuti del brand con i clienti.</p>",
                        "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する。</p>",
                        "ko": "<p>스토어 세부 정보, 프로모션 또는 브랜드 콘텐츠를 고객과 공유하십시오.</p>",
                        "nb": "<p>Del butikkdetaljer, kampanjer eller merkevareinnhold med kundene dine.</p>",
                        "nl": "<p>Deel winkeldetails, promoties of merkcontent met je klanten.</p>",
                        "pt-BR": "<p>Compartilhe informações da loja, promoções ou conteúdo da marca com seus clientes.</p>",
                        "pt-PT": "<p>Partilhe detalhes da loja, promoções ou conteúdo de marca com os seus clientes.</p>",
                        "sv": "<p>Dela butikens detaljer, kampanjer eller varumärkesinnehåll med dina kunder.</p>",
                        "th": "<p>แชร์รายละเอียดร้านค้า โปรโมชัน หรือเนื้อหาแบรนด์กับลูกค้าของคุณ</p>",
                        "zh-CN": "<p>与您的客户共享商店详细信息、促销信息或品牌内容。</p>",
                        "zh-TW": "<p>與顧客分享商店的詳細資訊、宣傳活動或品牌內容。</p>"
                    }
                }
            ]
        }, {
            "type": "newsletter",
            "limit": 1,
            "name": {
                "da": "Tilmelding til nyhedsbrev",
                "de": "Newsletter-Anmeldung",
                "en": "Newsletter signup",
                "es": "Suscripción al boletín",
                "fi": "Uutiskirjeen tilaus",
                "fr": "Inscription",
                "hi": "न्यूज़लेटर साइनअप",
                "it": "Iscriviti alla Newsletter",
                "ja": "ニュースレターの登録",
                "ko": "뉴스레터 신청",
                "nb": "Registrering for nyhetsbrev",
                "nl": "Nieuwsbriefaanmelding",
                "pt-BR": "Assinatura da newsletter",
                "pt-PT": "Registo na newsletter",
                "sv": "Nyhetsbrevsregistrering",
                "th": "การสมัครรับจดหมายข่าว",
                "zh-CN": "新闻通讯注册",
                "zh-TW": "訂閱電子報"
            },
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": {
                        "da": "Overskrift",
                        "de": "Überschrift",
                        "en": "Heading",
                        "es": "Título",
                        "fi": "Otsake",
                        "fr": "Titre",
                        "hi": "शीर्षक",
                        "it": "Heading",
                        "ja": "見出し",
                        "ko": "제목",
                        "nb": "Overskrift",
                        "nl": "Kop",
                        "pt-BR": "Título",
                        "pt-PT": "Título",
                        "sv": "Rubrik",
                        "th": "ส่วนหัว",
                        "zh-CN": "标题",
                        "zh-TW": "標題"
                    },
                    "info": {
                        "da": "Abonnenter bliver føjet til [kundelisten](/admin/customers?query=&accepts_marketing=1) for \"accepterer markedsføring\".",
                        "de": "Abonnenten werden zu Ihrer Liste „akzeptiert Marketingmaterial“ hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
                        "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
                        "es": "Se añadirá los suscriptores a tu [lista de clientes.](/admin/customers?query=&accepts_marketing=1) \"acepta marketing\".",
                        "fi": "Tilaajat lisätään \"hyväksyy markkinointi\" [-asiakasluetteloosi. ](/admin/customers?query=&accepts_marketing=1)",
                        "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing ».",
                        "hi": "सदस्यों को आपकी “मार्केटिंग स्वीकार करता है” [customer list.](/admin/customers?query=&accepts_marketing=1) में जोड़ दिया जाएगा",
                        "it": "Gli iscritti verranno aggiunti al tuo [elenco clienti.](/admin/customers?query=&accepts_marketing=1) «accetta marketing»",
                        "ja": "購読者は「マーケティングを受け入れる」[顧客リスト](/admin/customers?query=&accepts_marketing=1) に追加されます。",
                        "ko": "가입자가 \"마케팅 수락\" [고객 목록.](/admin/customers?query=&accepts_marketing=1)에 추가됩니다.",
                        "nb": "Abonnenter vil bli lagt til i «aksepterer markedsføring» [kundeliste.](/admin/customers?query=&accepts_marketing=1)",
                        "nl": "Abonnees worden toegevoegd aan je \"accepteert marketing\" [klantenlijst.](/admin/customers?query=&accepts_marketing=1)",
                        "pt-BR": "Os assinantes serão adicionados à “aceita marketing” [lista de clientes. ](/admin/customers?query=&accepts_marketing=1)",
                        "pt-PT": "Os subscritores serão adicionados à sua lista de \"aceitam marketing\" [lista de clientes.](/admin/customers?query=&accepts_marketing=1)",
                        "sv": "Prenumeranter läggs till i din \"accepterar marknadsföring\" [kundlista. ](/admin/customers?query=&accepts_marketing=1)",
                        "th": "ระบบจะเพิ่มผู้สมัครใช้งานไปยังส่วน “ยอมรับการตลาด” ของคุณ [รายชื่อลูกค้า](/admin/customers?query=&accepts_marketing=1)",
                        "zh-CN": "订阅者将被添加到您的“接受营销”[客户列表](/admin/customers?query=&accepts_marketing=1)中。",
                        "zh-TW": "系統會將訂閱者新增至您的「接受行銷」[客戶清單。](/admin/customers?query=&accepts_marketing=1)"
                    },
                    "default": {
                        "da": "Nyhedsbrev",
                        "de": "Newsletter",
                        "en": "Newsletter",
                        "es": "Boletín",
                        "fi": "Uutiskirje",
                        "fr": "Newsletter",
                        "hi": "न्यूज़लेटर",
                        "it": "Newsletter",
                        "ja": "ニュースレター",
                        "ko": "뉴스레터",
                        "nb": "Nyhetsbrev",
                        "nl": "Nieuwsbrief",
                        "pt-BR": "Newsletter",
                        "pt-PT": "Newsletter",
                        "sv": "Nyhetsbrev",
                        "th": "จดหมายข่าว",
                        "zh-CN": "新闻通讯",
                        "zh-TW": "電子報"
                    }
                }
            ]
        }
    ]
}

{% endschema %}
