{% if section.settings.message %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

{% include 'search-drawer' %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or request.page_type == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }

        .announcement-bar__link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.color_text }};
        }
      </style>

      <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
        {%- unless section.settings.message_link == blank -%}
          <a href="{{ section.settings.message_link }}" class="announcement-bar__link">
        {%- endunless -%}
            <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
        {%- unless section.settings.message_link == blank -%}
          </a>
        {%- endunless -%}
      </div>

    {% endif %}
  {% endif %}
  
  <header id="js-header" class="o-header" role="banner">
    <div class="o-header__inner">
      <div class="o-header__logo__wrapper  o-header__col">
        <a href="/" title="NMC" rel="home" class="o-header__logo" aria-label="Site logo - link to homepage">
          <svg height="49" viewBox="0 0 218 49" xmlns="http://www.w3.org/2000/svg"><path d="M47.707.904L0 48.61h24.086l23.207-23.206v23.5L95 1.197H70.914L47.707 24.403V.903zm58.187 0L58 48.61h24.18l23.298-23.206v23.5l23.592-23.5V48.61H146V1.197h-16.809l-23.297 23.206V.903zm47.106 0v48h65L201.518 31.83h-32.035V17.976h16.363L169.364.904z" fill="#FFF" fill-rule="evenodd"></path></svg>
        </a>
      </div>
  
      <div class="o-header__middle">
        <div class="grid">
          <div class="col-sm-12">
            <div class="o-header__row">
              <a class="a-btn  o-header__middle__btn" href="/donate">Donate</a>
              <a class="a-btn  o-header__middle__btn" href="/about-us">About Us</a>
              <a class="a-btn  o-header__search  js-search-btn    js-drawer-open-top"  id="js-searchToggle"  href="#block-searchform" title="Search" aria-label="Search"><span>Search</span><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M24 21.646l-6.255-6.205a9.63 9.63 0 001.872-5.711c0-5.365-4.4-9.73-9.809-9.73C4.4 0 0 4.365 0 9.73c0 5.366 4.4 9.73 9.808 9.73a9.81 9.81 0 005.531-1.698L21.627 24 24 21.646zM2.877 9.73c0-3.792 3.11-6.877 6.932-6.877 3.822 0 6.932 3.085 6.932 6.877s-3.11 6.877-6.932 6.877c-3.823 0-6.932-3.085-6.932-6.877z" fill="#FFF"></path></svg></a>
              <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
                {% include 'icon-cart' %}
                <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                <div class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble id="CartCount">
                    <span data-cart-count>{{ cart.item_count }}</span>
                    <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                </div>
              </a>
              <span class="a-btn  o-header__menu">Menu</span>
  
              <button class="a-nav-toggle  o-header__cta"  id="js-navToggle"  title="Toggle Nav" aria-label="Toggle nav">
                <span class="a-nav-toggle__line a-nav-toggle__line-1"></span>
                <span class="a-nav-toggle__line a-nav-toggle__line-2"></span>
                <span class="a-nav-toggle__line a-nav-toggle__line-3"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="o-header__bottom">
        <div class="col-sm-12  o-header__grid">
          <div class="o-header__spacer"></div>
          <div class="o-header__row  o-header__grid__items">
              
            <nav class="m-main-nav" role="navigation">
              <ul class="menu o-header__middle__btn__mobile">
                <li class="menu-item">
                  <a class="menu-item menu-item__link  o-header__middle__btn__mobile" href="/donate">Donate</a>
                </li>
                <li class="menu-item">
                  <a class="menu-item menu-item__link  o-header__middle__btn__mobile" href="/about-us">About Us</a>
                </li>
              </ul>
              {% include 'site-nav', linklist: section.settings.main_linklist %}
            </nav>
            <div class="o-header__cta__wrapper">
              <div class="a-btn  a-btn__secondary  a-btn__secondary--alt  o-header__cta  o-header__top__cta__wrapper  o-header__top__hide">
                  <a href="https://nmc-recordings.myshopify.com/collections/explore-labels" class="o-header__top__cta" rel="nofollow noopener">Explore Labels</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="m-search m-overlay">
      <button class="a-nav-toggle  o-header__cta  js-search-btn" title="Toggle Nav" aria-label="Toggle nav">
        <span class="a-nav-toggle__line a-nav-toggle__line-1"></span>
        <span class="a-nav-toggle__line a-nav-toggle__line-2"></span>
        <span class="a-nav-toggle__line a-nav-toggle__line-3"></span>
      </button>
      <section>
        <div class="grid justify-center">
          <div class="col-sm-8">
            <div class="m-search__inner">
              
  <div class="m-block m-block--views m-block--views-exposed-filter-blocksearch-search m-block__ m-">
          <form class="views-exposed-form bef-exposed-form contextual-region" data-drupal-selector="views-exposed-form-search-search" action="/search" method="get" id="views-exposed-form-search-search" accept-charset="UTF-8">
    
  <div class="ct__listing__form">
  <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-for form-item-for form-no-label">
          <input placeholder="Search site" data-drupal-selector="edit-for" type="text" id="edit-for" name="for" value="" size="30" maxlength="128" class="form-text">
  
          </div>
  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><button data-twig-suggestion="search_results_submit" class="a-btn button js-form-submit form-submit" value="Search" data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search">
    Search
  </button>
  </div>
  
  </div>
  </form>
  
    </div>
  
              
  <div class="m-block m-block--block-content m-block--block-contentc969cb25-b628-4670-94b7-5e2ea1f529f1 m-block__search m-search">
      
        <h5>We suggest</h5>
      <div class="m-search__suggestions">
            <a href="/search?for=nmc1" class="a-btn  a-btn__secondary" title=""><span>NMC1</span></a>
      <a href="/search?for=nmc2" class="a-btn  a-btn__secondary" title=""><span>NMC2</span></a>
      <a href="/search?for=test" class="a-btn  a-btn__secondary" title=""><span>Test</span></a>
      <a href="/search?for=watkins" class="a-btn  a-btn__secondary" title=""><span>Watkins</span></a>
  
      </div>
    
  </div>
  
            </div>
          </div>
        </div>
      </section>
    </div>
  
  
  </header>



<script type="application/ld+json">


[36mLine: 1[0m
[31m[36 mLine : 2 [[0m
[31m        0 m [[0m
[31m            31 m(empty line)[[0m
[31m                0 m [[0m
[31m                    31 m(empty line)[[0m
[31m                        0 m [[0m
[31m                            31 m[[0m

</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">


[36mLine: 1[0m
[31m[36 mLine : 2 [[0m
[31m        0 m [[0m
[31m            31 m(empty line)[[0m
[31m                0 m [[0m
[31m                    31 m(empty line)[[0m
[31m                        0 m [[0m
[31m                            31 m[[0m

</script>
{% endif %}

{% schema %}

{
    "name": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Header",
        "es": "Encabezado",
        "fi": "Ylätunniste",
        "fr": "En-tête",
        "hi": "हैडर",
        "it": "Header",
        "ja": "ヘッダー",
        "ko": "헤더",
        "nb": "Header",
        "nl": "Koptekst",
        "pt-BR": "Cabeçalho",
        "pt-PT": "Cabeçalho",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标头",
        "zh-TW": "標頭"
    },
    "settings": [
        {
            "type": "radio",
            "id": "align_logo",
            "label": {
                "da": "Logojustering",
                "de": "Logo-Ausrichtung",
                "en": "Logo alignment",
                "es": "Alineación de logo",
                "fi": "Logon tasaus",
                "fr": "Alignement du logo",
                "hi": "लोगो संरेखण",
                "it": "Allineamento logo",
                "ja": "ロゴアラインメント",
                "ko": "로고 정렬",
                "nb": "Logojustering",
                "nl": "Logo-uitlijning",
                "pt-BR": "Alinhamento do logotipo",
                "pt-PT": "Alinhamento do logótipo",
                "sv": "Logojustering",
                "th": "การจัดวางโลโก้",
                "zh-CN": "logo 对齐方式",
                "zh-TW": "商標對齊"
            },
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "da": "Venstre",
                        "de": "Links",
                        "en": "Left",
                        "es": "Izquierda",
                        "fi": "Vasen",
                        "fr": "Gauche",
                        "hi": "बाएँ",
                        "it": "Sinistra",
                        "ja": "左",
                        "ko": "왼쪽",
                        "nb": "Venstre",
                        "nl": "Links",
                        "pt-BR": "Esquerda",
                        "pt-PT": "Esquerda",
                        "sv": "Vänster",
                        "th": "ด้านซ้าย",
                        "zh-CN": "左侧",
                        "zh-TW": "左方"
                    }
                }, {
                    "value": "center",
                    "label": {
                        "da": "Centreret",
                        "de": "Mittig",
                        "en": "Centered",
                        "es": "Centrada",
                        "fi": "Keskitetty",
                        "fr": "Centré",
                        "hi": "केंद्र",
                        "it": "Centrato",
                        "ja": "中央揃え",
                        "ko": "센터 맞추기",
                        "nb": "Sentrert",
                        "nl": "Gecentreerd",
                        "pt-BR": "Centralizado",
                        "pt-PT": "Centrado",
                        "sv": "Centrera",
                        "th": "ตรงกลาง",
                        "zh-CN": "居中",
                        "zh-TW": "置中"
                    }
                }
            ]
        }, {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "da": "Logobillede",
                "de": "Logo-Foto",
                "en": "Logo image",
                "es": "Logo",
                "fi": "Logokuva",
                "fr": "Image du logo",
                "hi": "लोगो इमेज",
                "it": "Immagine del logo",
                "ja": "ロゴ画像",
                "ko": "로고 이미지",
                "nb": "Logobilde",
                "nl": "Afbeelding van logo",
                "pt-BR": "Imagem do logotipo",
                "pt-PT": "Imagem do logótipo",
                "sv": "Logobild",
                "th": "รูปภาพโลโก้",
                "zh-CN": "logo 图片",
                "zh-TW": "標誌圖片"
            }
        }, {
            "type": "range",
            "id": "logo_max_width",
            "label": {
                "da": "Tilpasset logobredde",
                "de": "Logobreite",
                "en": "Custom logo width",
                "es": "Ancho del logo personalizado",
                "fi": "Mukautetun logon leveys",
                "fr": "Largeur personnalisée du logo",
                "hi": "कस्टम लोगो की चौड़ाई",
                "it": "Larghezza logo personalizzato",
                "ja": "ロゴの幅をカスタマイズする",
                "ko": "사용자 지정 로고 폭",
                "nb": "Tilpasset logobredde",
                "nl": "Aangepaste logo-breedte",
                "pt-BR": "Largura do logotipo personalizado",
                "pt-PT": "Largura de logótipo personalizada",
                "sv": "Anpassad logotypsbredd",
                "th": "ความกว้างของโลโก้แบบกำหนดเอง",
                "zh-CN": "自定义 logo 宽度",
                "zh-TW": "自訂商標寬度"
            },
            "min": 50,
            "max": 250,
            "step": 5,
            "unit": "px",
            "default": 100
        }, {
            "type": "link_list",
            "id": "main_linklist",
            "label": {
                "da": "Menu",
                "de": "Menü",
                "en": "Menu",
                "es": "Menú",
                "fi": "Valikko",
                "fr": "Menu",
                "hi": "मेनू",
                "it": "Menu",
                "ja": "メニュー",
                "ko": "메뉴",
                "nb": "Meny",
                "nl": "Menu",
                "pt-BR": "Menu",
                "pt-PT": "Menu",
                "sv": "Meny",
                "th": "เมนู",
                "zh-CN": "菜单",
                "zh-TW": "選單"
            },
            "default": "main-menu"
        }, {
            "type": "header",
            "content": {
                "da": "Meddelelseslinje",
                "de": "Ankündigungsbereich",
                "en": "Announcement bar",
                "es": "Barra de anuncios",
                "fi": "Ilmoituspalkki",
                "fr": "Barre d'annonces",
                "hi": "घोषणा बार",
                "it": "Barra degli annunci",
                "ja": "告知バー",
                "ko": "공지 표시줄",
                "nb": "Kunngjøringslinje",
                "nl": "Aankondigingsbalk",
                "pt-BR": "Barra de avisos",
                "pt-PT": "Barra de comunicado",
                "sv": "Meddelandefält",
                "th": "แถบประกาศ",
                "zh-CN": "公告栏",
                "zh-TW": "公告列"
            }
        }, {
            "type": "checkbox",
            "id": "message",
            "label": {
                "da": "Vis meddelelse",
                "de": "Ankündigung anzeigen",
                "en": "Show announcement",
                "es": "Mostrar anuncio",
                "fi": "Näytä ilmoitus",
                "fr": "Afficher l'annonce",
                "hi": "घोषणा दिखाएं",
                "it": "Mostra annuncio",
                "ja": "告知を表示する",
                "ko": "공지 표시",
                "nb": "Vis kunngjøring",
                "nl": "Aankondiging weergeven",
                "pt-BR": "Exibir anúncio",
                "pt-PT": "Mostrar comunicado",
                "sv": "Visa tillkännagivande",
                "th": "แสดงประกาศ",
                "zh-CN": "显示公告",
                "zh-TW": "顯示公告"
            },
            "default": false
        }, {
            "type": "checkbox",
            "id": "home_page_only",
            "label": {
                "da": "Kun startside",
                "de": "Nur Startseite",
                "en": "Home page only",
                "es": "Solo página de inicio",
                "fi": "Vain etusivu",
                "fr": "Page d'accueil uniquement",
                "hi": "केवल होमपेज",
                "it": "Solo home page",
                "ja": "ホームページのみ",
                "ko": "홈페이지만",
                "nb": "Kun på startsiden",
                "nl": "Alleen homepage",
                "pt-BR": "Apenas na página inicial",
                "pt-PT": "Apenas a página inicial",
                "sv": "Endast hemsida",
                "th": "หน้าแรกเท่านั้น",
                "zh-CN": "仅主页",
                "zh-TW": "僅限首頁"
            },
            "default": true
        }, {
            "type": "text",
            "id": "message_text",
            "label": {
                "da": "Tekst",
                "de": "Text",
                "en": "Text",
                "es": "Texto",
                "fi": "Teksti",
                "fr": "Texte",
                "hi": "टेक्स्ट",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": {
                "da": "Meddel noget her",
                "de": "Hier etwas ankündigen",
                "en": "Announce something here",
                "es": "Anuncia algo aquí",
                "fi": "Ilmoita jotakin tässä",
                "fr": "Annoncez quelque chose ici",
                "hi": "यहां कुछ घोषित करें",
                "it": "Annuncia qualcosa qui",
                "ja": "ここで告知してください",
                "ko": "여기에 공지하십시오",
                "nb": "Kunngjør noe her",
                "nl": "Kondig hier iets aan",
                "pt-BR": "Anuncie algo aqui",
                "pt-PT": "Anunciar algo aqui",
                "sv": "Meddela något här",
                "th": "ประกาศข้อความที่นี่",
                "zh-CN": "在此处进行公告",
                "zh-TW": "在此公告資訊"
            }
        }, {
            "type": "url",
            "id": "message_link",
            "label": {
                "da": "Link",
                "de": "Link",
                "en": "Link",
                "es": "Enlace",
                "fi": "Linkki",
                "fr": "Lien",
                "hi": "लिंक",
                "it": "Link",
                "ja": "リンク",
                "ko": "링크",
                "nb": "Kobling",
                "nl": "Link",
                "pt-BR": "Link",
                "pt-PT": "Ligação",
                "sv": "Länk",
                "th": "ลิงก์",
                "zh-CN": "链接",
                "zh-TW": "連結"
            },
            "info": {
                "da": "Valgfri",
                "de": "Optional",
                "en": "Optional",
                "es": "Opcional",
                "fi": "Valinnainen",
                "fr": "Facultatif",
                "hi": "वैकल्पिक",
                "it": "Facoltativo",
                "ja": "オプション",
                "ko": "선택 사항",
                "nb": "Valgfritt",
                "nl": "Optioneel",
                "pt-BR": "Opcional",
                "pt-PT": "Opcional",
                "sv": "Valfritt",
                "th": "ไม่จำเป็น",
                "zh-CN": "可选",
                "zh-TW": "(選填)"
            }
        }, {
            "type": "color",
            "id": "color_bg",
            "label": {
                "da": "Bjælke",
                "de": "Zeile",
                "en": "Bar",
                "es": "Barra",
                "fi": "Palkki",
                "fr": "Barre",
                "hi": "बार",
                "it": "Barra",
                "ja": "バー",
                "ko": "바",
                "nb": "Felt",
                "nl": "Balk",
                "pt-BR": "Barra",
                "pt-PT": "Barra",
                "sv": "Fält",
                "th": "แถบ",
                "zh-CN": "栏",
                "zh-TW": "橫條"
            },
            "default": "#3a3a3a"
        }, {
            "type": "color",
            "id": "color_text",
            "label": {
                "da": "Tekst",
                "de": "Text",
                "en": "Text",
                "es": "Texto",
                "fi": "Teksti",
                "fr": "Texte",
                "hi": "टेक्स्ट",
                "it": "Testo",
                "ja": "テキスト",
                "ko": "텍스트",
                "nb": "Tekst",
                "nl": "Tekst",
                "pt-BR": "Texto",
                "pt-PT": "Texto",
                "sv": "Text",
                "th": "ข้อความ",
                "zh-CN": "文本",
                "zh-TW": "文字"
            },
            "default": "#ffffff"
        }
    ]
}

{% endschema %}
